/*
 This file overrides default bootstrap styles to create the final theme.
*/

/*
 **************
 * Global styles
 **************
*/

body {
	font-size: 150%;
	color: #555555;
	background-color: #fcfcfc;
}

a {
	color: #1c5793;
}

a.advanced-search-link {
	font-size: 120%;
}

/*
 **************
 * Navigation Bar styles
 **************
*/

header#navbar.navbar.navbar-static-top.navbar-default {
	height: 50px !important;
}

.navbar-btn {
	margin: 0;
}

a.logo img {
	height: 40px;
	margin-top: 4px;
}

ul.navbar-nav a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a {
        color: #1c5793;
		background-color: #ffffff;
		border: 1px solid silver;
        border-radius: 4px;
        padding: 5px 29px 6px 17px;
        margin: 15px 11px 0 0;
        font-size: 13px;
        line-height: 14px;
        text-decoration: none;
		border: 1px solid silver;
}

ul.navbar-nav a:hover,
ul.navbar-nav a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #1c5793 !important;
	background-color: #f6ac00;
}

a.dropdown-toggle {
	color: #1c5793;
	background-color: #ffffff;
	border-radius: 4px;
	padding: 5px 29px 6px 17px;
	font-size: 14px;
	border: 1px solid silver;
}

/*
* Site title style
*/

ul.navbar-nav:not(.secondary) {
	float: left;
}

ul.navbar-nav:not(.secondary)>.first.leaf>a {
	/* font-size: 20px; */
	font-size: 1.45em;
	color: #1c5793;
	background-color: transparent;
	padding-left: 0px;
	border: none;
}

ul.navbar-nav:not(.secondary)>.first.leaf>a:hover
ul.navbar-nav:not(.secondary)>.first.leaf>a:focus {
    color: #1c5793 !important;
	background-color: transparent;
}


/*
 **************
 * Footer styles
 **************
*/

.footer {
	margin-top: 0;
	padding: 10px 15px;
	border: 0;
}


/*
 **************
 * H styles
 **************
*/

h1, .h1 { font-size: 150%; text-transform: capitalize; }
h2, .h2 { font-size: 120%; text-transform: capitalize; }
/* h3, .h3 { font-size: 120%; text-transform: capitalize; } */


/*
 **************
 * Button styles
 **************
*/

.btn-primary,
.btn-primary:hover {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#2a7fd6),color-stop(6%,#1c5793),to(#15426f));
	background-image: -webkit-linear-gradient(#2a7fd6,#1c5793 6%,#15426f);
	background-image: -moz-linear-gradient(top,#2a7fd6,#1c5793 6%,#15426f);
	background-image: linear-gradient(#2a7fd6,#1c5793 6%,#15426f);
	background-repeat: no-repeat;
	border: 1px solid #3071a9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c5793',endColorstr='#ff15426f',GradientType=0);
	filter: none;
}


/*
 **************
 * Solr styles
 **************
*/

div.region.region-sidebar-first.well {
	padding: 5px;
	border: none;
	background: transparent;
	border-radius: 0px;
}


.block ul.islandora-solr-facet {
	padding: 0;
	list-style: none;
}

ul.islandora-solr-facet > li {
	padding: 3px 0;
}

.islandora-solr-facet-wrapper div.panel {
	border: none;
	border-radius: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #eee;
}
.islandora-solr-facet-wrapper div.panel-heading {
	background-color: #999999;
	border-radius: 0px;
	padding: 4px 4px 6px 6px;
}
.islandora-solr-facet-wrapper div.panel-body {
	padding: 5px;
}
.islandora-solr-facet-wrapper h3 {
	color: #ffffff;
	text-transform: lowercase;
	font-variant: small-caps;
	font-weight: normal;
	font-size: 20px;
	margin: 0 0 0 0;
	display: inline;
}
.islandora-solr-facet-wrapper .btn-primary {
	font-size: 1.3em;
	text-shadow: none;
	display: inline;
	float: right;
	padding: 0 5px;
	border: none;
	background: transparent;
}

.islandora-solr-facet-wrapper .btn-primary:after {
	font-family: FontAwesome;
	content: "\f106";
}

/* region-header */
.region.region-header {
	position: relative;
}
/*
*	Browse dropdown
*/
#block-menu-menu-browse {
	width: 100px; /* FIXME: this should probably be structural markup */
	float: left;
	z-index: 999;
}

#block-menu-menu-browse a.dropdown-toggle {
	height: 30px;
	padding-top: 5px;
}

#block-menu-menu-browse a.dropdown-toggle:hover,
#block-menu-menu-browse a.dropdown-toggle:focus {
	color: #1c5793 !important;
	background-color: #f6ac00;
}

.nav.caret {
	float: right;
	margin-top: 7px;
}

/*
*	Search form
*/

#block-islandora-solr-simple {
	/* margin-left =  width of #block-menu-menu-browse + 10px */
	margin-left: 110px; /* FIXME: this should probably be structural markup */
}

#block-islandora-solr-simple .form-item-islandora-simple-search-query {
	width: 100%;
}

#islandora-solr-simple-search-form button.btn-primary {
	background-image: none;
}

#islandora-solr-simple-search-form button.btn-primary:before {
	margin-left: 3px;
	font-family: FontAwesome;
	content: "\f002 ";
}

#edit-islandora-simple-search-query.form-control.form-text {
	color: #1c5793;
	height: 30px;
	width: 100%;
}

#islandora-solr-simple-search-form button.btn-primary.form-submit {
	position: absolute;
	font-weight: normal;
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
	padding: 0 0 0 5px;
	margin-left: -7px;
	/* margin-top: 15px; */
	background-color: #1c5793;
	font-size: 1.1em;
	border: none;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	line-height: 8px;
}

label[for='edit-islandora-simple-search-query'] {
	display: inline;
}

/**
*	Search Results
**/
a.advanced-search-link {
	color: #1c5793;
	background-color: #fff;
	border-radius: 4px;
	padding: 5px 17px 5px 17px;
	font-size: 15px;
	border: 1px solid silver;
	text-decoration: none;
	margin-left: 40%;
}

section#block-islandora-solr-sort {
	float: right;
}

div#islandora-solr-result-count {
	margin: auto;
	text-align: center;
}

/**
* Feed Aggregator Styles
**/

.block-aggregator .more-link {
	display: none;
}

/**
* Usage stats sidebar styles
**/

#block-islandora-usage-stats-top-usage h2.block-title {
	font-size: 1.05em;
	color: #666;
}

#block-islandora-usage-stats-top-usage ul {
	padding-left: 20px;
}

span.view-count {
	white-space: nowrap;
	font-size: 0.8em;
	color: #666;
	font-weight: bold;
}

/*
 **************
 * Main content styles
 **************
*/

.breadcrumb {
	width: 100%;
	padding: 10px 0 0 0;
	background: transparent;
}

.breadcrumb>.active.last {
	max-width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.breadcrumb>li+li:before {
	content: "\f101";
	font-family: 'FontAwesome';
	color: #f6ac00;
}

h1.page-header {
	border: 0;
	margin: 0;
	color: #555;
}

section.col-sm-9 div.region.region-content {
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}

div.fieldset-wrapper {
	/* Force details to display by default */
	display: block !important;
}

div.islandora-pdf-metadata {
	clear: none;
}

span.islandora-basic-collection-display-switch {
	display: none;
}

.islandora-basic-collection-list-item {
	padding-bottom: 1em;
	margin: 0;
}

.islandora-basic-collection-object dt img {
	width: 50px;
}



/*********
TEMPORARY FOR TESTING ONLY
**********/
/*
div {
	border: 1px solid red !important;
}
*/
